@font-face {
    font-family: Digi;
    src: url(fonts/digital-7\ \(mono\).ttf);
}


body{
    position: relative;
    background: linear-gradient(to right, rgb(87, 83, 83),rgb(209, 206, 206));
    margin-bottom: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

#Calc-container{
    height: 502px;
    width: 501px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    border: solid 3px;
    border-style: solid;
    border-radius: 5px;
}

#buttons{
    display: flex;
    width: 500px;
    height: 402px;
    text-align: center;
    border-radius: 2px;
}

#numbers{
    display:grid;
    padding: 0;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.603);
    border-top: solid 2px;
}

#operators > .single-button:nth-child(-n+6),
#numbers > .single-button{
    color: rgb(233, 233, 233);
}

#operators{
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    border-left: solid;
    border-left-width: 1px;
    background-color: rgb(73, 73, 73);
    border-top: solid 2px;
}

.single-button{
    height: 100px;
    font-size: 18px;
    border: none;
    background-color: inherit;
    transition: all 0.1s;
}

#numbers > .single-button:hover{
    background-color: rgb(53, 53, 53);
}

.single-button:active{
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

#clear-button:active,#equals-button:active{
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

#operators > .single-button:hover{
    background-color: rgb(65, 65, 65);
}


#screen{
    background-color: rgb(206, 206, 206);
    height: 100px;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    font-family: Roboto;
    border-top-left-radius:2px;
    border-top-right-radius: 2px;
}

.previous-operand{
    color: rgb(83, 83, 83);
    padding-top: 4px;
    font-size: 1.8rem;
    font-weight: bold;
}

.current-operand{
    padding-bottom: 4px;
    font-size: 2.2rem;
    font-weight: bold;
}
